<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP画面</title>

		<style>
			.column{column-count: 1;}
		</style>
	</head>

	<body>
		<br/>
		<h1>menu</h1>
		<form action="introduction" method="post">
			<ul class="col">
				<li>
					<button type='submit' name="${introduction.url}" >
						<div th:text="${introduction.view_name}"></div>
					</button>
				</li>
				<br/>
		</form>

		<form action="books" method="post">
				<li>
					<button type='submit' name="${book.url}" >
						<div th:text="${book.view_name}"></div>
					</button>
				</li>
				<br/>
		</form>

		<form action="anime" method="post">
				<li>
					<button type='submit' name="${anime.url}" >
						<div th:text="${anime.view_name}"></div>
					</button>
				</li>
				<br/>
		</form>

		<form action="movie" method="post">
				<li>
					<button type='submit' name="${movie.url}" >
						<div th:text="${movie.view_name}"></div>
					</button>

				</li>
		</form>
			</ul>
	</body>
</html>
