<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP画面</title>

		<style>
			.column{
				column-count: 1;

			}
			li{
				margin:20px;
			}
		</style>
	</head>

	<body>
		<br/>
		<h1>menu</h1>
        <ul class="col">
			<tr th:each="button : ${buttonList}">
				<li>
					<form th:action="${button.url}" method="post">
		                <button type='submit' name="${button.url}" >
		                    <div th:text="${button.view_name}"></div>
		                </button>
	                </form>
	            </li>
			</tr>
		</ul>
	</body>
</html>
