<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP画面</title>

		<style>
			.column{column-count: 1;}
		</style>
	</head>

	<body>
		<br/>
		<h1>menu</h1>
		<form action="introduction" method="post">
			<ul class="col">
				<li>
					<button type='submit' name='introduction'> 自己紹介 </button>
				</li>
				<br/>
		</form>

		<form action="books" method="post">
				<li>
					<button type='submit' name='books'> 好きな本 </button>
				</li>
				<br/>
		</form>

		<form action="anime" method="post">
				<li>
					<button type='submit' name='anime'> 好きなアニメ </button>
				</li>
				<br/>
		</form>

		<form action="movie" method="post">
				<li>
					<button type='submit' name='movie'> 好きな動画 </button>
				</li>
		</form>
			</ul>
	</body>
</html>
