<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>自己紹介</title>
	</head>

	<body>
		<a href="/top/">
			<button type='button' > ←戻る </button>
		</a>

		<br/>
		<h1>自己紹介</h1>
			<p><a href="https://twitter.com/fumin20210907">twitter</a><br><a href="https://fallakiakino-793.hatenablog.com/">ブログ</a><br><a href="https://github.com/mizuki793">Github</a>  </p>
			<h2 id="主な経験職種">主な経験職種</h2>
			<ul>
			<li>保守・運用・開発など</li>
			</ul>
			<h2 id="技術">技術</h2>
			<h3 id="主に扱っていた技術">主に扱っていた技術</h3>
			<ul>
			<li>Java<ul>
			<li>業務で使った言語はJavaだけです</li>
			</ul>
			</li>
			</ul>
			<h3 id="その他">その他</h3>
			<ul>
			<li><p>Python</p>
			<pre><code>* paizaやseleniumを私物で作るときに少し触りました。</code></pre>
			<ul>
			<li>しいて言えばあとは、Flaskでcrudを作りました。  </li>
			</ul>
			</li>
			<li><p>vue </p>
			<ul>
			<li>個人で見たアニメをメモっておくものを作りました。  </li>
			</ul>
			</li>
			<li><p>PHP(Laravel)</p>
			<ul>
			<li>「Laravelで初心者に実務経験を付けよう」という目的でメンターと利用者を結びつけるサービスの駆け出し部分を作りました。  </li>
			</ul>
			</li>
			<li><p>JavaScript(+jQuery) / CSS3 /HTML5</p>
			<ul>
			<li>保守対応時で修正など  </li>
			</ul>
			</li>
			<li><p>クラウド関係  </p>
			<ul>
			<li>Azure(後述のお菓子メーカーの業務で触りました)</li>
			<li>firebase(『Vue.jsとFirebaseで作るミニWebサービス』という本を参考にミニサービスを作成しました)</li>
			<li>AWS(後述の資格勉強時に少し触りました)</li>
			</ul>
			</li>
			</ul>
			<h2 id="経歴">経歴</h2>
			<ul>
			<li><p>(2018/10～2019/1) WEBサービスのテスト業務</p>
			<pre><code>* 要員:10人程度、役割メンバー</code></pre>
			<ul>
			<li>某保険会社Webサービステスト業務(CT工程)に従事</li>
			<li>言語：Java</li>
			<li>ツール：Eclipse  </li>
			</ul>
			</li>
			<li><p>(2019/02~2019/05) 通信関係のWebサービス</p>
			<pre><code>* チーム要員10名程度</code></pre>
			<ul>
			<li>web修正(画面の修正)</li>
			<li>使用言語:Java1.8 / 開発環境:Eclipse4.6(Neon)</li>
			<li>フレームワーク:Struts2  </li>
			</ul>
			</li>
			<li><p>(2019/06~2019/09) 保険系のWebサービス</p>
			<pre><code>* チーム要員10人程度</code></pre>
			<ul>
			<li>保守/追加仕様/調査(画面の修正)</li>
			<li>使用言語:JavaScript(JQuery等使用)  </li>
			</ul>
			</li>
			<li><p>(2019/10~2020/03) 銀行のWebサービス</p>
			<pre><code>* チーム要員5人程度</code></pre>
			<ul>
			<li>追加改修</li>
			<li>使用言語:Java,JavaScript</li>
			<li>フレームワーク:JSF  </li>
			</ul>
			</li>
			<li><p>(2020/04~) お菓子メーカーのWebサービス</p>
			<ul>
			<li>チーム要員4人程度</li>
			<li>追加改修、保守対応</li>
			<li>使用言語:Java,JavaScript</li>
			<li>フレームワーク:SpringBoot
			　　　<h2 id="資格">資格</h2>
			</li>
			</ul>
			</li>
			<li><p>(2015/08)Microsoft Office Specialist2007 Excel 取得</p>
			</li>
			<li><p>(2018/03)Microsoft Office Specialist2013 Word・PowerPoint 取得</p>
			</li>
			<li><p>(2021/06)AWSクラウドプラクティショナー 取得</p>
			</li>
			<li><p>(2021/08)AWSソリューションアーキテクト - アソシエイト 取得</p>
			</li>
			<li><p>(2021/10)Azure Fundamentals(az-900) 取得</p>
			</li>
			</ul>
			<h2 id="自己紹介">自己紹介</h2>
			<ul>
			<li>新たに学ぶことが好きです。
			学生時代にはDTPソフトを独学で習得し、ポスターや冊子の作成が出来るようになり、<br>Microsoft Office Specialistなども取得しております。
			ユーザが使いやすいシステムを作ることが目標です。その為に、必要なスキルを吸収して行きたいと考えております。</li>
			<li>現在、教本を見ながらlaravelなどの勉強をしています。</li>
			</ul>
			<h3 id="略歴">略歴</h3>
			<ul>
			<li>1995/11 生まれ</li>
			<li>2014/04 二松学舎大学 文学部 国文学科入学</li>
			<li>2018/03 二松学舎大学 文学部 国文学科卒業</li>
			<li>2018/07 SES会社に契約社員として入社</li>
			<li>2019/01 SES会社で正社員化</li>
			</ul>
			<h3 id="趣味">趣味</h3>
			<ul>
			<li>SFや小説が好きです。</li>
			<li>甘いものを食べるのが好きです。</li>
			</ul>
			<h3 id="その他-1">その他</h3>
			<ul>
			<li>TwitterのDMやメール(fallakiakino★gmail.com)でご連絡もらえると嬉しいです。
			※★を@にして送ってください。</li>
			</ul>

		<form>
		<a href="/top/">
			<button type='button' > ←戻る </button>
		</a>
	</body>
</html>
